table {
  display: flex;
  flex-direction: column;
  margin: 200px auto;
  width: 94%;
}

.head , .body {
  border-radius: 3px;
  margin: 5px;
}

.head {
  height: 50px;
}

.body {
  height: 70px;
}

.head tr , .body tr {
  display: flex;
}

.head tr , .body tr:nth-child( even ) {
  background: #e4fff5;
}

.body tr:hover {
  background-color: #fff34dea;
  font-size: 1.1rem;
  font-weight: 800;
}

.title {
  background: #04aa6d;
  border: 0.5px solid #f9f9f9;
  color: #f9f9f9;
  display: flex;
  flex: 1;
  font-weight: 900;
  justify-content: center;
  line-height: 50px;
  text-align: center;
}

.content {
  align-items: center;
  border: 1px solid gainsboro;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: start;
}

.title:first-child {
  flex: 2;
}

.content:first-child {
  flex: 2;
}

.content:last-child {
  justify-content: space-evenly;
}
