table {
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  height: 54px;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
}

table td , table th , .th {
  border: 1px solid #ddd;
  overflow: hidden;
  padding: 8px;
}

thead tr , .tr , tbody tr {
  display: flex;
}

table th , .th {
  background-color: #04aa6d;
  color: white;
  text-align: center;
}

.divTilte {
  flex: 1;
}

.divTilte:first-of-type {
  flex: 2;
}

table tbody tr td {
  align-items: center;
  display: flex;
  height: 100%;
  text-align: left;
  width: 100%;
}

table tbody tr td:last-of-type {
  justify-content: space-evenly;
}

table tr:nth-child( even ) { background-color: #eafada; }

table tr:hover { background-color: #d4ffdf; }
